<%= provide(:title, "Statistiche #{Date.today.strftime('%d-%m-%Y')}") %>
<div id="pageloader" class="pageloader"><h1 class="title h1" >Aggiorno i dati...</h1></div>

<script>
if(!window.location.hash) {
  document.getElementById('pageloader').classList.add('is-active');
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                      window.location = window.location + '#list';
                      window.location.reload();
            }
        }
        try {
                  xhttp.open("GET", "data", true);
                   xhttp.send(); 
        } catch (error) {
            document.getElementById('pageloader').classList.remove('is-active');
            alert("Errore durante l'aggiornamento dei dati. Segnala questo codice. Errore:"+ error);

        }
} else {
                        document.getElementById('pageloader').classList.remove('is-active');
}
</script>

<h1 class="title">Wiki Loves Monuments Italia 2019</h1>
<h2 class="subtitle">Le statistiche dei concorsi regionali</h2>
<table id="elenco-concorsi" class="table is-striped">
  <thead>
    <th>Pos.</th>
    <th>Logo del concorso</th>
    <th>Nome del concorso</th>
    <th>Foto caricate</th>
    <th>Foto usate (ns0)</th>
    <th>%</th>
    <th>Utenti partecipanti</th>
    <th>Utenti iscritti <br/>per WLM</th>
    <th>%</th>
    <th>Links</th>
  </thead>
  <tbody>
    <% @contests.reverse.each do |contest| %>
      <tr>
      <th><%= contest.position %></th>
        <td><% if contest.logo.attached? %>

        <%= image_tag contest.logo.variant(resize_to_limit: [200, 200]) %> 
        <% else %> 

        <%= link_to 'Aggiungi il logo', upload_path(id: contest.id) %> 
        
        <% end %></td>
        <td><%= link_to contest.name, contest %></td>
        <td><%= contest.photos.count %></td>
        <td><%= contest.photos.where(usedonwiki: true).count %></td>
        <td><%= (contest.photos.where(usedonwiki: true).count.to_f / contest.photos.count.to_f * 100.0).truncate(1) unless (contest.photos.where(usedonwiki: true).count.to_f / contest.photos.count.to_f * 100.0).nan? %> <%= '0.0' if (contest.photos.where(usedonwiki: true).count.to_f / contest.photos.count.to_f * 100.0).nan? %></td>
       <!-- Conto degli utenti partecipanti -->
        <td id="USERCOUNT-<%=contest.id%>"><div class="loader"></div></td>

        <td><%= Creator.where(proveniencecontest: contest.id).count %> </td>
        <td id="PERCENTUAL-<%=contest.id %>"><div class="loader"></td>
        <td><%= link_to 'Grafico, statistiche e classifica', contest, class: 'button is-link', id: contest.id %>

     </tr>
    <% end %>
  </tbody>
</table>
<% Contest.all.each do |contest| %>
  <% if contest.photos.count == 0 %>
  <!-- Contest stats doesn't work for empty contests -->
    <script>
      document.getElementById('<%= contest.id%>').setAttribute('disabled', 'wlm-zeroelements');
      
      document.getElementById('<%= contest.id%>').addEventListener('click', function (event) {
            event.preventDefault();
        });

    </script>
  <% end %>
<% end %>
<br />
<%= link_to 'Trova i monumenti WLM vicino a te', 'https://wlm.puglia.wiki', class: 'button is-danger' %>
<br />
<h1 class="subtitle">Pagina personale di un utente</h1>
  <div class="control">
    <input class="input" name="id" type="text" id="username">
  </div>
  <br/>
  <div class="control">
    <a class="button is-primary is-small" id="username-submit">Invia</a>
  </div>

<script>
  $('#username-submit').click(function(){
    var link = 'https://' + location.hostname + '/creators/' + $('#username').val();
    $('#username-submit').attr('href', link);
  });
</script>
<!-- Datatable -->
<!-- Loading percentuals -->

        <script>
        $(document).ready(function(){          
        
        <% Contest.all.each do |contest| %>
        var url = 'usercount?id=<%=contest.id %>';
          console.log('Doing <%=contest.name %>');
          $.ajax({url: url, success: function(result){
            $('#USERCOUNT-<%=contest.id %>').html(result);
            var percentual = <%= Creator.where(proveniencecontest: contest.id).count.to_f %> / result * 100.0;
            if (isNaN(percentual)) {
              percentual = 0.0
            }
              var percentual = percentual.toFixed(1);
            $('#PERCENTUAL-<%=contest.id %>').html(percentual + '%');
                                console.log('Result <%=contest.name %>:' + result);
                                                    console.log('Done <%=contest.name %>');
          }})
        <% end %>
          $(document).ajaxStop(function() {
                      $('#elenco-concorsi').DataTable( {
                        dom: 'Bfrtip',
                        buttons: [
                            'copy', 'csv', 'excel', 'pdf', 'print'
                        ]
                      } );
                  })
          });
        </script>

