<div id="pageloader" class="pageloader is-active"><h1 class="title h1">Aggiorno i dati...</h1></div>

<script>
document.addEventListener("turbolinks:load", function() {

    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById('pageloader').classList.remove('is-active');
            Turbolinks.reload();
        };
    }
    xhttp.open("GET", "data", true);
    xhttp.send(); 
})
</script>

<h1 class="title">Wiki Loves Monuments Italia 2019</h1>
<h2 class="subtitle">Le statistiche dei concorsi regionali</h2>
<table class="table is-striped">
  <thead>
    <th>Logo del concorso</th>
    <th>Nome del concorso</th>
    <th>Foto caricate</th>
    <th>Posizione (sui concorsi regionali)</th>
    <th>Foto usate sui progetti (ns0)</th>
    <th>Links</th>
  </thead>
  <tbody>
    <% @contests.reverse.each do |contest| %>
      <tr>
        <td><% if contest.logo.attached? %>

        <%= image_tag contest.logo.variant(resize_to_limit: [200, 200]) %> 
        <% else %> 

        <%= link_to 'Aggiungi il logo', upload_path(id: contest.id) %> 
        
        <% end %></td>
        <td><%= link_to contest.name, contest %></td>
        <td><%= contest.photos.count %></td>
        <td><%= contest.position %></td>
        <td><%= contest.photos.where(usedonwiki: true).count %> (<%= contest.photos.where(usedonwiki: true).count.to_f / contest.photos.count.to_f * 100.0%>) </td>
        <td><%= link_to 'Grafico, statistiche dettagliate e classifica utenti', contest, class: 'button is-link' %>

              </tr>
    <% end %>
  </tbody>
</table>