<%= provide(:title, "Statistiche #{Date.today.strftime('%d-%m-%Y')}") %>
<h1 class="title">Wiki Loves Monuments Italia <%=DateTime.now.strftime('%Y') %></h1>
<h2 class="subtitle">Le statistiche dei concorsi regionali</h2>
<table id="elenco-concorsi" class="table is-striped">
    <thead>
        <th>Pos.</th>
        <th>Logo del concorso</th>
        <th>Nome del concorso</th>
        <th>Foto caricate</th>
        <th>Castelli</th>
        <th>%</th>
        <th>Foto usate (ns0)</th>
        <th>%</th>
        <th>Utenti partecipanti</th>
        <th>Utenti iscritti <br />per WLM</th>
        <th>%</th>
        <th>Monumenti partecipanti</th>
        <th>Monumenti senza foto</th>
        <th>%</th>
        <th>Links</th>
    </thead>
    <tbody>
        <% @contests.reverse.each do |contest| %>
        <tr>
            <th><%= contest.position %></th>
            <td><% if contest.logo.attached? %>

                <%= link_to contest do %><%= image_tag contest.logo.variant(resize_to_limit: [200, 200]) %><% end %>
                <% else %>

                <%= link_to 'Aggiungi il logo', upload_path(id: contest.id) %>

                <% end %></td>
            <td><%= link_to contest.name, contest %></td>
            <td><%= contest.count %></td>
            <td><%= contest.fortifications %></td>
            <td><%= (contest.fortifications.to_f / contest.count.to_f * 100.0).truncate(1) unless (contest.fortifications.to_f / contest.count.to_f * 100.0).nan? %></td>
            <td><%= contest.photos.select{|p| p.usedonwiki == true }.count %></td>
            <td><%= (contest.photos.select{|p| p.usedonwiki == true }.count.to_f / contest.count.to_f * 100.0).truncate(1) unless (contest.photos.select{|p| p.usedonwiki == true }.count.to_f / contest.count.to_f * 100.0).nan?%> <%= '0.0' if (contest.photos.select{|p| p.usedonwiki == true }.count.to_f / contest.count.to_f * 100.0).nan? %></td>
            <!-- Conto degli utenti partecipanti -->
            <td><%= contest.creators %></td>
            <td><%= contest.creatorsapposta %> </td>
            <td><%= (contest.creatorsapposta.to_f / contest.creators.to_f * 100.0).truncate(1) unless (contest.creatorsapposta.to_f / contest.creators.to_f * 100.0).nan? || contest.creatorsapposta == 0 || contest.creators == 0 %> <%= '0.0' if (contest.creatorsapposta.to_f / contest.creators.to_f * 100.0).nan? || contest.creatorsapposta == 0 || contest.creators == 0%></td>
            <td><%= contest.monuments %></td>
            <td><%= contest.nophoto %></td>
            <td><%= (contest.nophoto.to_f / contest.monuments.to_f * 100.0).truncate(1) unless (contest.nophoto.to_f / contest.monuments.to_f * 100.0).nan? || contest.nophoto == 0 || contest.monuments == 0 %> <%= '0.0' if (contest.nophoto.to_f / contest.monuments.to_f * 100.0).nan? || contest.nophoto == 0 || contest.monuments == 0%></td>
            <td><%= link_to 'Grafico, statistiche e classifica', contest, class: 'button is-link', id: contest.id %>

        </tr>
        <% end %>
    </tbody>
</table>
<% @contests.each do |contest| %>
<% if contest.count == 0 %>
<!-- Contest stats doesn't work for empty contests -->
<script>
    document.getElementById('<%= contest.id%>').setAttribute('disabled', 'wlm-zeroelements');

    document.getElementById('<%= contest.id%>').addEventListener('click', function(event) {
        event.preventDefault();
    });
</script>
<% end %>
<% end %>
<br />
<%= link_to 'Trova i monumenti WLM vicino a te', 'https://cerca.wikilovesmonuments.it', class: 'button is-danger' %>
<%= link_to "Scarica subito l'app per android!", 'https://play.google.com/store/apps/details?id=it.wikimedia.wikilovesmonuments', class: 'button is-small' %>

<br />
<h1 class="subtitle">Pagina personale di un utente</h1>
<div class="control">
    <input class="input" name="id" type="text" id="username">
</div>
<br />
<div class="control">
    <a class="button is-primary is-small" id="username-submit">Invia</a>
</div>

<script>
    $('#username-submit').click(function() {
        var link = 'https://' + location.hostname + '/creators/' + $('#username').val();
        $('#username-submit').attr('href', link);
    });
</script>
<script>
    $('#elenco-concorsi').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
</script>

<br />

<% if Nophoto.where(regione: nil).count > 0 %>
<h2 class="subtitle">Grafico monumenti senza foto</h2>
<%= line_chart @nophotograph, xmin:  "#{DateTime.now.strftime('%Y')}-08-31", xmax:  "#{DateTime.now.strftime('%Y')}-09-30"%>
<h2 class="title is-5">Grafico percentuale</h2>
<%= line_chart @nophotographpercent, xmin:  "#{DateTime.now.strftime('%Y')}-08-31", xmax:  "#{DateTime.now.strftime('%Y')}-09-30"%>

<% a = Nophoto.where(regione: nil).last.monuments %>
<% b = Nophoto.where(regione: nil).last.count %>
<p><b>Monumenti totali partecipanti</b>: <%= Nophoto.where(regione: nil).last.monuments %>
<p><b>Monumenti senza foto oggi</b>: <%= Nophoto.where(regione: nil).last.count %> (<%= (b.to_f / a.to_f * 100.0).truncate(1) unless (b.to_f / a.to_f * 100.0).nan? || b == 0 || a == 0 %> <%= '0.0' if (b.to_f / a.to_f * 100.0).nan? || b == 0 || a == 0%>%)
<p><b>Monumenti CON foto oggi</b>: <%= Nophoto.where(regione: nil).last.monuments - Nophoto.where(regione: nil).last.count %>
<p><b>Monumenti senza foto prima dell'inizio di WLM</b>: <%= Nophoto.where(regione: nil).first.count %>  (<%= Nophoto.where(regione: nil).first.percent %> %)
<p><b>Monumenti con una categoria su Commons</b>: <%= Nophoto.where(regione: nil).last.with_commons %>
<p><b>Monumenti con un'immagine su Wikidata</b>: <%= Nophoto.where(regione: nil).last.with_image %>
<p><b>Monumenti con un'immagine su Wikidata o una categoria su Commons ma senza foto partecipanti a WLM</b>: <%= Nophoto.where(regione: nil).last.nowlm %>
    <% end %>

<div class="buttons">
    <%= link_to "Aiuta a creare le categorie per i monumenti con un'immagine su Wikidata ma sprovvisti di categoria", "https://it.wikipedia.org/wiki/Progetto:Wiki_Loves_Monuments_2019/Manutenzione/Monumenti_con_immagine_senza_categoria", class: 'button is-warning' %>
    <%= link_to "Aiuta a creare le categorie per i monumenti con delle immagini partecipanti a WLM ma sprovvisti di categoria", "https://it.wikipedia.org/wiki/Progetto:Wiki_Loves_Monuments_2019/Manutenzione/Monumenti_senza_categoria_con_foto_caricate", class: 'button is-danger' %>
</div>