<%= provide(:title, "Statistiche concorso WLM") %>
<h1 class="title"><%= ENV["TITLE"] %> <%= @year&.year %></h1>
<h2 class="subtitle">Le statistiche dei concorsi regionali</h2>
<table id="elenco-concorsi">
    <thead>
        <th>Pos.</th>
        <th>Nome del concorso</th>
        <th>Foto caricate</th>
        <th>%/t</th>
        <% if @year.special %>
        <th><%=@year.special_category_label %></th>
        <th>%/t</th>
        <th>%</th>
        <% end %>
        <th>Foto usate (ns0)</th>
        <th>%</th>
        <th>Utenti partecipanti</th>
        <th>%/t</th>
        <th>Utenti iscritti <br />per WLM</th>
        <th>%</th>
        <th>Monumenti partecipanti</th>
        <th>Monumenti senza foto</th>
        <th>%</th>
        <th>Monumenti ritratti</th>
        <th>%</th>
        <th>Nuovi monumenti</th>
        <th>%</th>
        <th>Links</th>
    </thead>
    <tbody>
        <% @contests.reverse.each do |contest| %>
        <% contestyear = ContestYear.find_by(year: @year, contest: contest) %>
        <% next if contestyear.nil? # Significa che non è stato ancora processato per l'anno %>
        <tr>
            <th><%= @rank.find_index(contestyear.id) + 1 %></th>
            <td><%= link_to contest.name, contest %></td>
            <td><%= contestyear.count %></td>
            <td><%= contestyear.percent_of_total&.truncate(1) %></td>
            <!-- Sezione concorso speciale -->
        <% if @year.special %>
            <td><%= contestyear.special_category_count %></td>
            <td><%= contestyear.special_category_percent_of_total&.truncate(1) %></td>
            <td><%= (contestyear.special_category_count.to_f / contestyear.count.to_f * 100.0).truncate(1) unless (contestyear.special_category_count.to_f / contestyear.count.to_f * 100.0).nan? %></td>
        <% end %>
            <!-- Fine sezione concorso speciale -->
            <td><%= contestyear.usedonwiki %></td>
            <td><%= contestyear.usedonwiki_percentage&.truncate(1) %></td>
            <!-- Conto degli utenti partecipanti -->
            <td><%= contestyear.creators %></td>
            <td><%= contestyear.participants_percent_of_total&.truncate(1) %></td>
            <td><%= contestyear.creatorsapposta.to_i %> </td>
            <td><%= (contestyear.creatorsapposta.to_f / contestyear.creators.to_f * 100.0)&.truncate(1) unless contestyear.creators == 0 %> <%= '0.0' if contestyear.creators == 0%></td>
            <td><%= contestyear.monuments %></td>
            <td><%= contestyear.nophoto %></td>
            <td><%= (contestyear.nophoto.to_f / contestyear.monuments.to_f * 100.0)&.truncate(1) unless contestyear.monuments == 0 %> <%= '0.0' if contestyear.monuments == 0%></td>
            <td><%= contestyear.depicted_monuments %></td>
            <td><%= contestyear.depicted_monuments_percentage&.truncate(1) %></td>
            <td><%= contestyear.new_monuments %></td>
            <td><%= contestyear.new_monuments_percentage&.truncate(1) %></td>   
            <td><%= link_to 'Grafico, statistiche e classifica', contest, class: 'button is-link', id: contest.id %>

        </tr>
        <% end %>
    </tbody>
</table>
<% @contests.each do |contest| %>
<% contestyear = ContestYear.find_by(year: @year, contest: contest) %>
<% next if contestyear.nil? # Significa che non è stato ancora processato per l'anno %>
<% if contestyear.count == 0 %>
<!-- Contest stats don't work for empty contests -->
<script>
    document.getElementById('<%= contest.id%>').setAttribute('disabled', 'wlm-zeroelements');

    document.getElementById('<%= contest.id%>').addEventListener('click', function(event) {
        event.preventDefault();
    });
</script>
<% end %>
<% end %>
<br />
<%= link_to 'Trova i monumenti WLM vicino a te', 'https://app.wikilovesmonuments.it', class: 'button is-danger' %>

<br />
<h1 class="subtitle">Pagina personale di un utente</h1>
<div class="control">
    <input class="input" name="id" type="text" id="username">
</div>
<br />
<div class="control">
    <a class="button is-primary is-small" id="username-submit">Invia</a>
</div>

<script>
    $('#username-submit').click(function() {
        var link = 'https://' + location.hostname + '/creators/' + $('#username').val();
        $('#username-submit').attr('href', link);
    });
</script>
<script>
    $('#elenco-concorsi').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
</script>

<br />

<% if Nophoto.where(regione: nil, year: @year).count > 0 %>
    <h2 class="subtitle">Grafico monumenti senza foto</h2>
    <%= line_chart @nophotograph, xmin:  "#{DateTime.now.strftime('%Y')}-08-31", xmax:  "#{DateTime.now.strftime('%Y')}-09-30"%>
    <h2 class="title is-5">Grafico percentuale</h2>
    <%= line_chart @nophotographpercent, xmin:  "#{DateTime.now.strftime('%Y')}-08-31", xmax:  "#{DateTime.now.strftime('%Y')}-09-30"%>

    <% a = Nophoto.where(regione: nil).last.monuments %>
    <% b = Nophoto.where(regione: nil).last.count %>
    <p><b>Monumenti totali partecipanti</b>: <%= Nophoto.where(regione: nil, year: @year).last.monuments %>
    <p><b>Monumenti senza foto oggi</b>: <%= Nophoto.where(regione: nil, year: @year).last.count %> (<%= (b.to_f / a.to_f * 100.0).truncate(1) unless (b.to_f / a.to_f * 100.0).nan? || b == 0 || a == 0 %> <%= '0.0' if (b.to_f / a.to_f * 100.0).nan? || b == 0 || a == 0%>%)
    <p><b>Monumenti CON foto oggi</b>: <%= Nophoto.where(regione: nil, year: @year).last.monuments - Nophoto.where(regione: nil, year: @year).last.count %>
    <p><b>Monumenti senza foto prima dell'inizio di WLM</b>: <%= Nophoto.find_by(regione: nil, created_at: Date.parse("01-#{ENV["MONTH"].to_i - 1}-#{@year.year}").end_of_month.midnight...Date.parse("01-#{ENV["MONTH"].to_i - 1}-#{@year.year}").end_of_month.end_of_day)&.count %>  (<%= Nophoto.find_by(regione: nil, created_at: Date.parse("01-#{ENV["MONTH"].to_i - 1}-#{@year.year}").end_of_month.midnight...Date.parse("01-#{ENV["MONTH"].to_i - 1}-#{@year.year}").end_of_month.end_of_day).percent %> %)
    <p><b>Monumenti con una categoria su Commons</b>: <%= Nophoto.where(regione: nil, year: @year).last.with_commons %>
    <p><b>Monumenti con un'immagine su Wikidata</b>: <%= Nophoto.where(regione: nil, year: @year).last.with_image %>
    <p><b>Monumenti con un'immagine su Wikidata o una categoria su Commons ma senza foto partecipanti a WLM</b>: <%= Nophoto.where(regione: nil, year: @year).last.nowlm %>
    <p><b>Fotografie caricate</b>: <%= @year.total %></p>
    <p><b>Fotografie <%= @year.special_category_label %></b>:<%= @year.special_category_total %></p>
    <p><b>Partecipanti</b>: <%= @year.creators %></p>
    <p><b>Monumenti rappresentati</b>: <%= @year.depicted_monuments %></p>
    <% if @year.special? %><p><b><%= @year.special_category_label %></b>: <%= @year.special_depcited_monuments %></p><% end %>
    <p><b>Monumenti nuovi</b>: <%= @year.new_monuments %></p>
<% end %>

<div class="buttons">
    <%= link_to "Aiuta a creare le categorie per i monumenti con un'immagine ma sprovvisti di categoria", "https://it.wikipedia.org/wiki/Progetto:Wiki_Loves_Monuments/Manutenzione/Monumenti_con_immagine_senza_categoria", class: 'button is-warning' %>
</div>