<%= provide(:title, 'Home') %>
<div id="pageloader" class="pageloader is-active"><h1 class="title h1" >Aggiorno i dati...</h1></div>

<script>
if(!window.location.hash) {
    document.addEventListener("turbolinks:load", function() {

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                      window.location = window.location + '#list';
                      window.location.reload();
            }
        }
        xhttp.open("GET", "data", true);
        xhttp.send(); 
  })
} else {
                        document.getElementById('pageloader').classList.remove('is-active');
}
</script>

<h1 class="title">Wiki Loves Monuments Italia 2019</h1>
<h2 class="subtitle">Le statistiche dei concorsi regionali</h2>
<table id="elenco-concorsi" class="table is-striped">
  <thead>
    <th>Pos.</th>
    <th>Logo del concorso</th>
    <th>Nome del concorso</th>
    <th>Foto caricate</th>
    <th>Foto usate sui progetti (ns0)</th>
    <th>Utenti partecipanti</th>
    <th>Utenti iscritti appositamente</th>
    <th>Links</th>
  </thead>
  <tbody>
    <% @contests.reverse.each do |contest| %>
      <tr>
      <th><%= contest.position %>ยบ</th>
        <td><% if contest.logo.attached? %>

        <%= image_tag contest.logo.variant(resize_to_limit: [200, 200]) %> 
        <% else %> 

        <%= link_to 'Aggiungi il logo', upload_path(id: contest.id) %> 
        
        <% end %></td>
        <td><%= link_to contest.name, contest %></td>
        <td><%= contest.photos.count %></td>
        <td><%= contest.photos.where(usedonwiki: true).count %> (<%= (contest.photos.where(usedonwiki: true).count.to_f / contest.photos.count.to_f * 100.0).truncate(3)%>%) </td>
       <!-- Conto degli utenti partecipanti -->
       <% creators = [] %>
    <% Creator.all.each do |creator| %>
       <% if creator.photos.where(contest: contest).any? %>
       <% creators.push(creator) %>
       <% end %>
    <% end %>
    <% creators = creators.sort_by{|gp| gp.photos.where(contest: contest).count}.reverse %>
        <td><%= creators.count %></td>
        <td><%= Creator.where(proveniencecontest: contest.id).count %> (<%= (Creator.where(proveniencecontest: contest.id).count.to_f / creators.count.to_f * 100.0).truncate(3)%>%)</td>
        <td><%= link_to 'Grafico, statistiche e classifica', contest, class: 'button is-link', id: contest.id %>

     </tr>
    <% end %>
  </tbody>
</table>

<% Contest.all.each do |contest| %>
  <% if contest.photos.count == 0 %>
  <!-- Contest stats doesn't work for empty contests -->
    <script>
      document.getElementById('<%= contest.id%>').setAttribute('disabled', 'wlm-zeroelements');
      
      document.getElementById('<%= contest.id%>').addEventListener('click', function (event) {
            event.preventDefault();
        });

    </script>
  <% end %>
<% end %>