
<% if @contest.logo.attached? %>
<div class="columns">
  <div class="column">
    <%=image_tag @contest.logo.variant(resize_to_limit: [200, 200]) if @contest.logo.attached? %>
  </div>
  <div class="column">
<% end %>
    <h1 class="title"><%= @contest.name %></h1>
<% if @contest.logo.attached? %>
  </div>
</div>
<% end %>
<h2 class="subtitle">Il grafico</h2>
<%= line_chart Photo.where(contest: @contest).group_by_day(:photodate).count, xmin: '2019-09-01', xmax: '2019-09-30'%>
<br />
<h2 class="subtitle">La classifica degli utenti</h2>

<table class="table is-striped">
  <thead>
    <th>Nome utente</th>
    <th>Foto caricate</th>
    <th>Foto usate su wiki</th>
  </thead>
  <tbody>
    <% @creators.each do |creator| %>
      <tr>
        <td><%= link_to creator.username, "https://commons.wikimedia.org/wiki/User:#{creator.username}" %></td>
        <td><%= creator.photos.where(contest: @contest).count %></td>
        <td><%= creator.photos.where(contest: @contest, usedonwiki: true).count %> (<%= (creator.photos.where(contest: @contest, usedonwiki: true).count.to_f / creator.photos.where(contest: @contest).count.to_f * 100.0).truncate(3) %>%)</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Categoria delle foto caricate', "https://commons.wikimedia.org/wiki/#{@contest.category}", class: 'button is-link is-big' %>
<%= link_to 'Pagina ufficiale del concorso', @contest.url, class: 'button is-danger is-big' %>