<%= form_with(model: year) do |form| %>
  <% if year.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(year.errors.count, "error") %> prohibited this year from being saved:</h2>

      <ul>
        <% year.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year %>
  </div>

  <div class="field">
    <%= form.label :storicized %>
    <%= form.check_box :storicized %>
  </div>

  <div class="field">
    <%= form.label :special %>
    <%= form.check_box :special %>
  </div>

  <div class="field">
    <%= form.label :special_category %>
    <%= form.text_field :special_category %>
  </div>

  <div class="field">
    <%= form.label :special_category_label %>
    <%= form.text_field :special_category_label %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
