<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> - Wiki Loves Monuments Italia 2019</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  <noscript>
    <div class="notification is-danger">
      <strong>Attenzione!</strong> Questo sito funziona meglio con Javascript abilitato, senza Javascript non sarà possibile ottenere alcune statistiche ed i grafici ed otterrai dati vecchi. Attiva ora Javascript.
    </div>
  </noscript>
    <div class="section">
      <%= yield %>
    </div>
  </body>

<footer class="footer">
  <div class="content has-text-centered">
      Statstiche sui concorsi locali di <strong>Wiki Loves Monuments Italia</strong> - <a href="https://github.com/ferdi2005/concorsi-locali">Codice sorgente</a> - Licenza MIT.
      <br/>
      I dati vengono aggiornati ogni 20 minuti nel mese di settembre - ultimo aggiornamento: <%= Sidekiq::Cron::Job.find('Update Data Job').last_enqueue_time %>

      <br />
      Non esitare a segnalare eventuali incongruenze
      <br />
      I loghi caricati su questo sito vengono rilasciati ai termini della licenza CC-BY-SA 4.0
  </div>
</footer>
</html>
