<!DOCTYPE html>
<html>

<head>
    <title><%= yield(:title) %> - Wiki Loves Monuments Italia <%=DateTime.now.strftime('%Y') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Analytics plausible -->
    <script async defer data-domain="statistiche.wikilovesmonuments.it" src="https://m.ferdi.cc/js/plausible.js"></script>
</head>

<body>
    <noscript>
        <div class="notification is-danger">
            <strong>Attenzione!</strong> Questo sito funziona meglio con Javascript abilitato, senza Javascript non sarà possibile ottenere alcune statistiche ed i grafici ed otterrai dati vecchi. Attiva ora Javascript.
        </div>
    </noscript>
    <div class="section">
        <%= yield %>
    </div>
</body>

<footer class="footer">
    <div class="content has-text-centered">
        Statstiche sui concorsi locali di <strong>Wiki Loves Monuments Italia</strong> - <a href="https://github.com/ferdi2005/concorsi-locali">Codice sorgente</a> - Licenza MIT.
        <br />
        I dati vengono aggiornati ogni 5-15 (solo numero foto-tutti i dati) minuti nel mese di settembre - ultimo aggiornamento: <%= Sidekiq::Cron::Job.find('update_data_job').last_enqueue_time unless Sidekiq::Cron::Job.find('update_data_job').nil? %><%= Sidekiq::Cron::Job.find('Update Data Job').last_enqueue_time unless Sidekiq::Cron::Job.find('Update Data Job').nil? %>

        <br />
        Non esitare a segnalare eventuali incongruenze a <%= link_to "Ferdinando Traversa", "https://ferdinando.me" %>.
        <br />
        I loghi caricati su questo sito vengono rilasciati ai termini della licenza CC-BY-SA 4.0, i dati sotto CC-0.
    </div>
</footer>

</html>