<!DOCTYPE html>
<html>

<head>
    <title><%= yield(:title) %> - Wiki Loves Monuments Italia <%=DateTime.now.strftime('%Y') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Analytics plausible -->
    <script async defer data-domain="statistiche.wikilovesmonuments.it" src="https://m.ferdi.cc/js/plausible.js"></script>
</head>

<body>
    <nav class="level">
        <div class="level-left">
            <h1 class="title is-5">Anno di riferimento</h1>
            &nbsp;
            <div class="select">
            <%= select_tag('year', options_from_collection_for_select(Year.all, "id", "year")) %>
            </div>
            &nbsp;
            <a id="setanno" class="button is-primary">Imposta anno</a>
            &nbsp;
            &nbsp;
            <%= link_to 'Torna alla home', root_path, class: 'button is-danger is-small' %>
            &nbsp;
        </div>
        <script>
            $('#setanno').click(function(){
                var year_id = $('#year').val();
                console.log('Anno corrente -> ' + year_id);
                Cookies.set('year_id', year_id);
                window.location.reload();
            });

            $(document).ready(function(){
                if (typeof Cookies.get('year_id') == 'undefined') {
                var year_id = $('#year').val();
                console.log('Anno corrente -> ' + year_id);
                Cookies.set('year_id', year_id);
                } else {
                $('#year').val(Cookies.get('year_id')).change();
                }
            })
        </script>
    </nav>
    
    <div class="section">
        <%= yield %>
    </div>
</body>

<footer class="footer">
    <div class="content has-text-centered">
        Statistiche sui concorsi locali di <strong><%= ENV["TITLE"] %></strong> - <a href="https://github.com/ferdi2005/concorsi-locali">Codice sorgente</a> - Licenza MIT.
        <br />
        I dati vengono aggiornati ogni 5-15 (solo numero foto-tutti i dati) minuti nel mese di settembre - ultimo aggiornamento: <%= Sidekiq::Cron::Job.find('update_data_job').last_enqueue_time unless Sidekiq::Cron::Job.find('update_data_job').nil? %><%= Sidekiq::Cron::Job.find('Update Data Job').last_enqueue_time unless Sidekiq::Cron::Job.find('Update Data Job').nil? %>

        <br />
        Non esitare a segnalare eventuali incongruenze a <%= link_to "Ferdinando Traversa", "https://ferdinando.me" %>.
        <br />
        I loghi caricati su questo sito vengono rilasciati ai termini della licenza CC-BY-SA 4.0, i dati sotto CC-0.
    </div>
</footer>

</html>